@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}


h2 {
	font-size: 22px;
	color:#333333;
	margin: 23px 0 37px 31px;
	font-weight: bold
}

#comments {
	margin: 0 35px 0 31px;
	display: flex;
	flex-direction: column;
}

li {
	color:#717171;
	line-height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 13px;
	margin-bottom: 26px;
	text-align: left;
	padding: 22px 37px 22px 18px;
}

.comment-body {
	font-weight: 400;	
	border: 1px solid #CCCCCC;
	border-radius: 13px;
	margin-bottom: 26px;
	text-align: left;
	padding: 22px 37px 22px 37px;
}

.comment-body:nth-child(even) {
	background: #F7F7F7;
}

.comment-box {
	margin-top: 23px;
	display: flex;
	justify-content:space-between;
}

.comment-profile-avatar {
	display:flex;
}

.avatar {
	height: 55px;
	width: 58px;
	border-radius: 50%
}

.comment-author{
	align-self: center;
	margin-left: 11px;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}

.review-star-rating {
	display: flex;
    align-items: center;
    justify-content:space-between;
    height: 55px;
    width: 215px;
}

.comment-evaluation {
	font-weight: bold;
	color:#333333;
	margin-right: 10px;
}

.star-rating {
    direction: rtl;
    display: flex;
    width: 170px;
    height: 55px;
    justify-content: space-between;
    align-items: inherit;
}

.star-rating img{
	filter:grayscale(1);
	transition:0.3s all;
}

.star-rating img:hover{
	filter:none;
}

.icon-star1:hover ~ img,
.icon-star2:hover ~ img,
.icon-star3:hover ~ img,
.icon-star4:hover ~ img {
	filter:none;
}

.icon-star1,
.icon-star2,
.icon-star3,
.icon-star4,
.icon-star5 {
	width: 18px;
	height: 18px;

}

